.perfil-page {
background: #f8f9fc;
  min-height: 100vh;
  padding: 50px 0;
}

.perfil-container {
  display: flex;
  gap: 30px;
  padding: 40px;
  min-height: auto;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* PANEL IZQUIERDO */
.perfil-left {
  width: 300px;
  background: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.07);
  height: 100%;         /* ocupa toda la altura fija */
  position: sticky;     /* opcional: hace que quede fijo si haces scroll */
  top: 20px;
}


.perfil-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.perfil-nombre {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.perfil-sub {
  color: #6b7280;
  font-size: 14px;
}

.competencias-box {
  margin-top: 25px;
  text-align: left;
}

.competencias-box h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.chip {
  padding: 6px 12px;
  background: #e6f0ff;
  color: #1663d8;
  border-radius: 15px;
  font-size: 12px;
}

.purple {
  background: #f2e6ff !important;
  color: #6a1bb1 !important;
}

/* PANEL DERECHO */
.perfil-right {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.07);
}

/* TABS */
.tabs {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 20px;
}

.tabs button {
  padding-bottom: 10px;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #6b7280;
  border-bottom: 2px solid transparent;
}

.tabs .active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
  font-weight: bold;
}

/* CONTENIDO */
.tab-content {
  margin-top: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

textarea {
  height: 100px;
  resize: none;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}


.btn-actualizar {
  margin-top: 20px;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.perfil-img-wrapper {
  position: relative;
  width: 180px;
  margin: 0 auto;
}

.cambiar-foto-btn {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: #00000027;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  backdrop-filter: blur(4px);
}

.perfil-img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  object-fit: cover;
  border: 4px solid #ffffff;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}
