/* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente general */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffffb4;
  color: #333;
  line-height: 1.5;
}

/* Clase para centrar el contenido */
.app-container {
  width: 100%;
  max-width: 1200px;
}

/* Títulos */
h1, h2, h3 {
  font-weight: bold;
  color: #222;
}

